/* USE CSS LAYOUTS HERE */
.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
} 
.grid {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr 8fr 1fr;
} 
.main {
  background-color: rgb(126, 86, 119);
  flex: 1;
}
.header {
  background-color: rgb(190, 83, 119);
  height: 10vh;
}
.footer {
  background-color: rgb(71, 50, 110);
  height: 10vh;
}
